<h2>About Fashion style</h2>

<div class="about">
  <div class="short-description">
    <p>The original boutique salon. Fashion style is ranked alongside the best hair salons in the world.</p>
    <img src="https://i.pinimg.com/originals/79/15/6b/79156bbb92a58fbd16fabd30c3cc311c.jpg">
  </div>
  <div class="long-description">
    <p>
      Our international stylists and colour technicians are some of the top creative talents in the world and have been hand selected
      for their mix of individual style and exceptional ability. You can find their photographic work in magazines such as
      Vogue, ID, Elle and Stylist and during the season they will be behind the scenes at all the major catwalk shows in
      Paris, Milan, New York and London. Splitting their time between editorial, commercial and catwalk assignments our specialists
      bring their creativity, passion and talent back into our hair salons where our aim is to be quite simply the best hair
      salon in London and perhaps the world. Open the doors to one of our salons and you might just recognise the interiors
      from lifestyle shoots or even the odd movie, with every London salon boasting a signature cocktail bar, oversized murals
      and decadent washrooms. Each interior has its own personal style but all are inspired by the Baroque extravagances
      of the French courts blended with the formality of 18th century England. Our period pieces and one off vintage finds
      are then set within a modern design to create a truly original and memorable setting.
    </p>
  </div>

</div>
