<div class="content">
  <h2>
    Book your Haidressing Appointment Online
  </h2>
  <div class="p">
    <p>
      Click on one of our hair salons below to book your haircut, blow dry or hairstyling appointment through our online booking
      system or please call us on the numbers below. For hair colour, hair straightening or brazilian blow dry bookings please
      call one of the salons on the telephone numbers below and one of our reception team will happily help book your appointment.
      We run a waiting list for appointments at busy times so if you can't find your haircut appointment online please give
      us a call and we will happily add your name to a waiting list.


    </p>
  </div>
</div>

<div class="book-footer">
  <h2>Terms and Conditions</h2>
  <div class="txt">
    Our fantastic real time online booking system allows you to view our schedule and book appointments, online 24/7. Please
    note that with all online booking requests, you will receive an email to confirm your booking within 24 hours. If you
    visit more than one Taylor Taylor London salon you are obliged to register individually for each location. If you do
    not received a confirmation email after 1 hour during our opening times or have received a rejection email, please call
    appropriate salon to confirm your booking:
  </div>
  <div class="phoneForContacts">
    <ul>
      <li>
        <p>Peter Meanpower</p>

        <p>+64 5642 2465</p>
      </li>
      <li>
        <p>Jana Dark</p>

        <p>+64 58892 255</p>
      </li>
      <li>
        <p>Ms. Douglas</p>

        <p>+82 7896 4561</p>
      </li>
    
      
    </ul>
  </div>
</div>
