
<div class="showing">
  Join us at one of our individually designed London salons to experience our globally recognised styling services and complimentary
  cocktail bars.
</div>

<div class="l">
  <div class="home-fashion-style">
    Taylor Taylor London is recognized for its unique blend of both edge and elegance.
  </div>
  <div class="home-about">
    Established in 2009 Fashion Style changed the face of salons by introducing a new style of highly skilled yet relaxed, unisex
    hairdressing.
  </div>
  <div class="home-salons">
    Relaxed yet always glamorous it should feel as though you have found your very own members club.
  </div>
  <div class="home-services">
    The international stylists and colour technicians at Fashion Style are some of the top creative talents in the world and
    are dedicated to bringing their creativity and passion back to the salon to deliver the very best possible service.
  </div>
</div>
