<h2>Cuttings & Styling</h2>

<div class="description-services">
  <div class="short-description-services">
    Our international team of top hair stylists at Taylor Taylor London are dedicated to delivering the very best service possible.

  </div>
  <div class="long-description-services">
    Fashion style's Team of international stylists and colour technicians are some of the top creative talents in the
    world and have been hand selected for their mix of individual style and exceptional ability. Splitting their time between
    editorial, commercial and catwalk assignments our specialists bring their creativity, passion and talent back into the
    salon where we inspire, educate and welcome each guest as an old friend.
  </div>

</div>
<div class="services-cuttings-and-styling">
<h3>Cuttings & Styling</h3>
</div>
<data-table></data-table>

